:root {
  --light-gray: #d4cccf;
  --dark-gray: #b4acaf;
  --dark-slate-gray: #0c0c0d;
  --light-steel-blue: #f0f0f1;
  --light-slate-gray: #969698;
}

.navButton {
  color: var(--dark-slate-gray);
  border: thin solid var(--dark-slate-gray);
}

.navButton:hover {
  color: var(--dark-gray);
  border: thin solid var(--dark-gray);
}
/* 
.navButton:focus {
  outline: none;
}

.navButton:active {
  color: var(--dark-gray);
  border: solid var(--dark-gray); 
} */
