:root {
  --light-yellow: #fff2cc;
  --dark-slate-gray: #0c0c0d;
  --dark-purple: #41417e;
  --light-steel-blue: #f0f0f1;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Domine";
  src: url("./fonts/domine/Domine-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/open_sans/OpenSans-Regular.ttf") format("truetype");
}

.low-margin {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

section > div {
  padding: 3rem 2rem !important;
}

section > span > div {
  padding: 3rem 2rem !important;
}

.menu-enter {
  opacity: 0;
  transform: scale(0.8);
}
.menu-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.menu-exit {
  opacity: 1;
}
.menu-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.menubars-enter {
  opacity: 0;
  transform: scale(0.8);
}
.menubars-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
  transition-delay: 300ms;
}

.menubars-exit {
  opacity: 1;
}
.menubars-exit-active {
  opacity: 0;
  transform: scale(0.9);
}

.hoverLight:hover {
  color: #7d7db9 !important;
}

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Domine", serif;
}

h3 {
  font-size: 1.2rem !important;
}

h2 {
  margin-bottom: 1.5rem !important;
}

a {
  text-decoration-line: none !important;
}
